@CHARSET "UTF-8";

body {
	font-family: Youyuan, Arial, Helvetica, sans-serif, 微软雅黑;
	background: none repeat scroll 0% 0% #000000;
	margin: 0;
}

.main-container {
	width: 1080px;
	margin: 0 auto;
}

.pic {
	position: absolute;
	display: block;
	z-index: -1;
}
.picBackground {
	position: absolute;
	background-color: #000000;
	left: 0;
	top: 0;
	z-index: 0;
}
.pic-control-button {
	display: inline-block;
	position: absolute;
	top: 0;
	z-index: 2;
}
.prev-button {
	left: 0;
	width: 40%;
	/* background-color: #121212; */
}
.menu-button {
	left: 40%;
	width: 20%;
	/* background-color: #d1d1d1; */
}
.next-button {
	left: 60%;
	width: 40%;
	/* background-color: #555555; */
}
